.body {
  width: 100%;           /*// Por defecto: ocupar todo el ancho*/
  margin-left: 0;
  z-index: 0;
  position: relative;
  top: 0;
  transition: all 0.5s ease;
  background: var(--color-bg);
  padding: 0;
}

/* Cuando el sidebar está expandido en móviles (< 769px)*/
.body-trimmed {
  @media (max-width: 768px) {
    width: calc(100% - 16.5625rem);
    margin-left: 16.5625rem;
  }
}

/* Cuando el sidebar está contraído en móviles (< 769px)*/
.body-md-screen {
  @media (max-width: 768px) {
    width: calc(100% - 5rem);
    margin-left: 5rem;
  }
}

.body {
  @media (max-width: 768px) {
  width: calc(100% - 5rem);
  margin-left: 5rem;
  z-index: 0;
  position: relative;
  top: 0;
  transition: all 0.5s ease;
  background: var(--color-bg);
  padding: 0 rem;
  }
}
