<section class="dashboard-container">
  <mat-toolbar color="primary" class="dashboard-header">
    <span>{{ 'admin.title' | translate }}</span>
  </mat-toolbar>

  <mat-sidenav-container class="dashboard-layout">
    <mat-sidenav mode="side" opened class="dashboard-sidenav">
      <mat-nav-list>

        <!-- Empleados -->
        <a mat-list-item routerLink="employees" *ngxPermissionsOnly="['user-list']">
          {{ 'admin.employees' | translate }}
        </a>

        <!-- Roles -->
        <a mat-list-item routerLink="roles" *ngxPermissionsOnly="['role-assign']">
          {{ 'admin.roles' | translate }}
        </a>

        <!-- Permisos -->
        <a mat-list-item routerLink="permissions" *ngxPermissionsOnly="['role-assign']">
          {{ 'admin.permissions' | translate }}
        </a>

        <!-- Categorías -->
        <a mat-list-item routerLink="categories" *ngxPermissionsOnly="['category-view']">
          {{ 'admin.categories' | translate }}
        </a>

        <!-- Productos -->
        <a mat-list-item routerLink="products" *ngxPermissionsOnly="['product-view']">
          {{ 'admin.products' | translate }}
        </a>

        <!-- Ventas -->
        <a mat-list-item routerLink="sales" *ngxPermissionsOnly="['view-sales']">
          {{ 'admin.sales' | translate }}
        </a>

        <!-- Clientes Software a Medida -->
        <a mat-list-item routerLink="custom-software" *ngxPermissionsOnly="['custom-client-view']">
          {{ 'admin.customClients' | translate }}
        </a>
        <!-- Perfil actual -->
        <a mat-list-item routerLink="user-profile" *ngxPermissionsOnly="['custom-client-view']">
          {{ 'admin.userProfile' | translate }}
        </a>

      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</section>
