<mat-card *ngFor="let role of roles">
  <h3>{{ role.name }}</h3>
  <p>{{ role.description }}</p>

  <mat-chip *ngFor="let perm of role.permissions">
    {{ permissionsMap[perm] || perm }}
  </mat-chip>

  <div class="actions">
    <button mat-button color="primary" (click)="editRole(role)">
      {{ 'admin.edit' | translate }}
    </button>
  </div>
</mat-card>

<mat-card *ngIf="selectedRole" class="edit-card">
  <h3>{{ selectedRole.name }}</h3>
  <p>{{ 'admin.editPermissions' | translate }}</p>

  <mat-selection-list [(ngModel)]="selectedRole.permissions">
    <mat-list-option *ngFor="let perm of allPermissions" [value]="perm.code">
      {{ permissionsMap[perm.code] || perm.code }}
    </mat-list-option>
  </mat-selection-list>

  <div class="actions">
    <button mat-raised-button color="primary" (click)="saveRole()">
      {{ 'admin.save' | translate }}
    </button>
    <button mat-button (click)="cancelEdit()">
      {{ 'admin.cancel' | translate }}
    </button>
  </div>
</mat-card>
