<ng-container *ngxPermissionsOnly="'role-view'; else noAccess">
  <h2 mat-dialog-title>{{ 'admin.editPermissions' | translate }}</h2>

  <mat-form-field appearance="outline" style="width: 100%;">
    <mat-label>{{ 'admin.roleName' | translate }}</mat-label>
    <input matInput [(ngModel)]="roleName" required />
  </mat-form-field>

  <mat-selection-list [(ngModel)]="rolePermissions">
    <mat-list-option *ngFor="let perm of allPermissions" [value]="perm.code">
      {{ permissionsMap[perm.code] || perm.code }}
    </mat-list-option>
  </mat-selection-list>

  <div class="actions">
    <ng-container *ngxPermissionsOnly="'role-update'">
      <button mat-raised-button color="primary" (click)="save()">
        {{ 'admin.save' | translate }}
      </button>
    </ng-container>

    <button mat-button (click)="cancel()">
      {{ 'admin.cancel' | translate }}
    </button>
  </div>
</ng-container>

<ng-template #noAccess>
  <p>No tienes permiso para ver esta sección.</p>
</ng-template>