<section class="recovery-banner">
<div class="recovery-container">
  <h2>{{ 'recovery.title' | translate }}</h2>

  <form (ngSubmit)="recover()" #recoveryForm="ngForm">
    <mat-form-field appearance="fill" color="primary">
      <mat-label>{{ 'recovery.emailLabel' | translate }}</mat-label>
      <input
        matInput
        type="email"
        name="email"
        [(ngModel)]="email"
        required
        email
      />
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" [disabled]="loading || !recoveryForm.form.valid">
      {{ 'recovery.submitButton' | translate }}
    </button>

    <div class="message" *ngIf="message">
      {{ 'login.recoverySuccess' | translate }}
    </div>

    <div class="error" *ngIf="error">
      {{ 'login.recoveryError' | translate }}
    </div>
  </form>
</div>
</section>
